# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.idea
.vscode

# Binaries and temp files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
tmp/

# Go specific
vendor/
coverage.out

# Project specific
README.md
LICENSE
*.log 